# object files and executables
*.o
a.out
Colleen/C/Colleen
Colleen/ASM/Colleen
Grace/C/Grace
Grace/ASM/Grace
Sully/C/Sully
Sully/C/exec/*
Sully/ASM/Sully
Sully/ASM/exec/*

# text and output files
tmp_Colleen
Grace/C/Grace_kid.c
Grace/ASM/Grace_kid.s
Sully_*

# test files
test/
test.s

# system files
.vscode