# object files and executables
*.o
*.out
ASM/Colleen/Colleen
C/Colleen/Colleen
ASM/Grace/Grace
C/Grace/Grace
ASM/Sully/Sully
C/Sully/Sully
ASM/Sully/exec
C/Sully/exec

# text and output files
tmp_Colleen
Grace_kid.c
Grace_kid.s
Sully_*

# test files
test/
test.s

# system files
.vscode
.codegpt
.DS_Store